<!doctype html>
<html>

	<head>
	
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

		<link href="static/layout.css" rel="stylesheet" type="text/css">
		<script src="static/layout.js"></script>
		
		<div class="container">
		</div>
		
	</head>
	
	<body class="background">
		<div class="container">
			<div class="navbar" >
				<a class="navbar-brand" href="index.html">Instruments of Premodern Chinese Music</a>
				<a href="bells.html">
					<button class="btn instrument-btn" id="bells">Bells</button>
				</a>
				<a href="dizi.html">
					<button class="btn instrument-btn" id="dizi">Dizi</button>
				</a>
				<a href="guqin.html">
					<button class="btn instrument-btn" id="guqin">Guqin</button>
				</a>
				<a href="pipa.html">
					<button class="btn instrument-btn" id="pipa">Pipa</button>
				</a>
				<a href="xun.html">
					<button class="btn instrument-btn" id="xun">Xun</button>
				</a>
				<a href="about.html">
					<button class="btn about-btn" id="about">About</button>
				</a>
			</div>
			
			{{ content }}

			<!-- Footer -->
			<footer class="bg-dark text-center text-white">
				<!-- Grid container -->
				<div class="container p-4">
					<!-- Section: Text -->
					<section class="mb-4">
						<p>
						This website was made as part of a final project for the Spring 2023 semester class of Music in Premodern
						China at Columbia University. All content credit is provided on the About page.
						</p>
					</section>
					<!-- Section: Text -->
					<!-- Section: Links -->
					<section class="">
						<!--Grid row-->
						<div class="row">
							<!--Grid column-->
							<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
								<h5 class="text-uppercase">Instruments</h5>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="bells.html" class="text-white">Bells</a>
									</li>
									<li>
										<a href="dizi.html" class="text-white">Dizi</a>
									</li>
									<li>
										<a href="guqin.html" class="text-white">Guqin</a>
									</li>
									<li>
										<a href="pipa.html" class="text-white">Pipa</a>
									</li>
									<li>
										<a href="xun.html" class="text-white">Xun</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
								<h5 class="text-uppercase">Links</h5>
								<ul class="list-unstyled mb-0">
									<li>
										<a href="about.html" class="text-white">About</a>
									</li>
								</ul>
							</div>
							<!--Grid column-->
						</div>
						<!--Grid row-->
					</section>
					<!-- Section: Links -->
				</div>
				<!-- Grid container -->
			
				<!-- Author -->
				<div class="text-center p-3" style="background-color: rgb(6, 73, 60);">
				2023 Author: Derek Lorenzo
				</div>
				<!-- Author -->
			</footer>
			<!-- Footer -->
			
		</div>
	</body>
	
</html>